@()

<!DOCTYPE html>

<html>
    <body>
        <h1>Actor State</h1>

        <p>Defined resources:</p>
        <ul>
            <li>
                <a href="/actors/refreshState">/actors/refreshState</a>
            </li>
            <li>
                <a href="/actors/pollOn">/actors/pollOn</a>
            </li>
            <li>
                <a href="/actors/pollOff">/actors/pollOff</a>
            </li>
            <li>
                <a href="http://%s:%s/actors">current state</a>
            </li>
        </ul>
    </body>
</html>